%h2 Refresh Features from Tracker

%p The application doesn't yet distinguish features from separate projects.  If you rerun this form with different project IDs, your features will all be mixed together in Roadmap (for now)

.div.refresh-form
  = form_tag(project_run_refresh_path(@project), method: :put) do
    %p
      %span API Key:
      = text_field_tag :api_token
    = submit_tag 'Refresh DB w/latest from Tracker',
      confirm: 'Are you sure?  This is synchronous for the moment'
