/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
body {
  font-size: 18px;
  line-height: 1.2em;
  margin: 20px;
}
ul li {
  list-style: none;
}
.clear {
  clear: both;
}

div.bundle-header header {
  font-size: 1.5em;
  font-weight: bold;
}
div.bundle-header header span.desc {
  color: #ddd;
}
div.bundle-header header div.action-links {
  margin-top: 5px;
  font-size: 0.65em;
  text-decoration: none;
  color: #aaa;
}
div.bundle-details > div {
  margin: 40px 10px 10px;
  padding:0;
  border-radius: 3px;
  background-color: #eee;
  width: 300px;
  float: left;
}
div.bundle-details > div ul {
  margin: 10px 5px;
  padding: 0;
  overflow-y: auto;
  max-height: 500px;
}
div.bundle-details > div ul li form {
  float: left;
  display: inline;
  margin-right: 5px;
}

div.bundle-details > div header {
  display: inline;
  position: relative;
  top: -1.1em;
  left: 15px;
  font-size: 1.2em;
  background-color: #ddd;
  color: #666;
  padding: 5px;
  border-radius: 4px;
}

 /*Just put the table to make it easier on my eyes*/
table {
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #999999;
  border-collapse: collapse;
}
table th {
  background:#66bbff ;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #999999;
}
table td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #999999;
}