/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.billing th {
  padding: 4px;
}

th.month {
  width: 90px;
}

th.date {
  width: 150px;
}

th.longname {
  min-width: 400px;
}

.billing-header {
  overflow: auto;
  margin-bottom: 20px;
}

.billing-summary-table {
  float: right;
}

.billing-summary {
  clear: both;
}

.billing-summary thead {
  background-color: gray;
  color: white;
}

.billing-summary td {
  padding: 0 5px 0 5px;
}

.billing-summary tr.total {
  font-weight: bold;
}